


body, html {
	margin: 0;
	padding: 0;
	letter-spacing: .03em;
	font-family: 'Baskerville';
	text-align: center;
	background: #F8F1E9;


}

.wrap { 
	width: 750px;
	margin: 0 auto;
	
}


/*--------- Header Styling --------*/

.header { 
	padding: 15px 10px 10px 15px;
	text-align: center;
	text-transform: uppercase;
	background-color: #1C8C8E;
	letter-spacing: .07em;
	word-spacing: .2em;
	font-family: 'Futura';
	font-size: 1.2em;


}

.header p {
	font-size: 1.2em;
	letter-spacing: .03em;
	font-size: .9em;
	color: black;
	margin-top: 9px;

}


h1 { 
	margin: 5px;
}

/*--------- Nav Styling --------*/

.nav { 
	padding: 5px 5px;
	background: #66C5C6;
	text-align: center;
}


.nav a {
	padding: 40px;
	font-style: italic;
	font-size: 19px;
	text-decoration: none;
}


/*--------- Columns Styling --------*/

.container2 { 
	clear: left;
	float: left;
	width: 100%;
	overflow: hidden;
	line-height: 1.3em;
	background-color: #EEE8DB

	
}

.container1 {
	float: left;
	width: 100%;
	position: relative;
	right: 50%;
	background-color: #DEDAD0;
}


.col1 {
	float: left;
	width: 46%;
	position: relative;
	left: 52%;
	overflow: hidden;
	padding-top: 25px;
}


.col2 {
	float: left;
	width: 46%;
	position: relative;
	left: 56%;
	overflow: hidden;
	padding-top: 25px;
}

.col1 h2, .col2 h2 {
	font-family: 'Futura';
	font-size: 1em;
}


h2 { 
	margin: 0 0 1em;
}


ul {
	list-style-position: inside;
	text-align: center;
	padding: 5px;
}

li { 
padding: 5px;
}


/*--------- Links Styling --------*/
a:visited {
	color: #1C8C8E;
}

a:link {
	color: #1C8C8E;
}

a:hover {
	color: #fff;
}

